body {
	margin: 0;
    background-color: #eddcc1;
}

h1, p {
	margin-top: 0;
}

ul { 
	list-style-position: inside; 
	padding-left: 0;
}

a:link {
	color: #83560f;
	text-decoration: none;
}

a:visited {
	color: #F89406;
	text-decoration: none;
}

a:hover {
	color: #903;
	text-decoration: none;
}

a:active {
	color: #903;
	text-decoration: none;
}

.container {
	background-color: #ffffff;
	width: 1000px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;

/*	margin: top right bottom left;
	margin: top/bottom right/left; */
}

.logo h1 {
	font-family: "Raleway", sans-serif; 
	font-weight: 700; 
	font-size: 90px;
	margin: 20px 0 -50px 0;
	color: #F89406;
	opacity: 0.5;
	text-align: center;
}

.tagline {
	font-family: "Raleway", sans-serif; 
	font-weight: 700; 
	text-transform: uppercase;
	color: #e87e04;
	letter-spacing: 5px;
	font-size: 20px; 
	margin: 70px 0 70px 0;
	text-align: center;
}

.content {
	font-family: "Raleway", sans-serif; 
	font-weight: 400; 
	font-size: 18px; 
	line-height: 24px;
	padding: 0 15px 0 40px;
	width: 600px;
	float: left;
	border-right: 4px dotted #eddcc1;  
}

.content img {
	max-width: 100%;
   	border: 1px solid #cccccc;
}

.content .dropcap {
	float: left; 
	color: #903; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: "Raleway";
}

.content .insetimage {
   	float: left;
   	margin-right: 20px;
}

.content .header {
	font-weight: 700; 
	font-size: 19px;
	color: #83560f;
}

.content .postdate {
	font-weight: 700; 
	font-size: 16px; 
	line-height: 18px;
}

.content .caption {
	font-size: 14px;
	font-style: italic;
}

.content .tags {
	font-size: 14px;
	font-style: italic;
	margin: -10px 0px 0px 0px;
}

.sidebar {
	float: left;
	width: 20%;
	font-family: "Raleway", sans-serif; 
	font-weight: 400; 
	font-size: 20px; 
	line-height: 28px;
	color: #000000;
	padding: 0 10px 0 25px;
}

.sidebar .greeting {
	color: #e87e04;
}

.sidebar .categories {
	padding: 0 10px 0 -10px;
	font-weight: 700; 
}

.footer {
	font-family: "Raleway", sans-serif; 
	font-weight: 700; 
	font-size: 14px; 
	line-height: 18px;
	padding: 50px 0 0 40px;
	clear: both;
}

.footer .address {
	font-weight: 400; 
}
