body {
    background-color: #eddcc1;
}
.logo {
	font-family: 'Raleway', sans-serif; 
	font-weight: 400; 
	font-size: 96px; 
	margin: -50px 0px -60px 30px;
	color: #cc9900;
}
.content {
	font-family: 'Raleway', sans-serif; 
	font-weight: 400; 
	font-size: 18px; 
	line-height: 24px;
	padding: 0px 20px 0px 30px;
	width: 700px;
	float: left;
	border-right: 1px solid gray;
}
.content img {
	max-width: 100%;
}
.content .header {
	font-weight: 700; 
	font-size: 19px;
	color: #83560f;
}
.content .postdate {
	font-weight: 700; 
	font-size: 14px; 
	line-height: 18px;
}
.content .caption {
	font-size: 14px;
	font-style: italic;
	margin: -10px 0px 0px 0px;
}
.content .tags {
	font-size: 14px;
	font-style: italic;
	margin: -10px 0px 0px 0px;
}
.sidebar {
	float: left;
	width: 20%;
	font-family: 'Raleway', sans-serif; 
	font-weight: 400; 
	font-size: 20px; 
	line-height: 28px;
	padding: 0px 0px 0px 20px;
}
.footer {
	font-family: 'Raleway', sans-serif; 
	font-weight: 700; 
	font-size: 14px; 
	line-height: 18px;
	padding: 50px 0px 0px 30px;
	clear: both;
}
